*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.box{
  padding: 10px;
  width: 20%;
}
.bg{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  position: relative;
  border: 1px solid black;
  border-radius: 25px;
}
h6{
  position: absolute;
  font-size: 30px;
  top: 10px;
  left: 170px;
  color: rgb(0, 0, 0);
}
.main{
  align-self: center;
  text-align: center;
  margin: auto;
  font-size: 20px;
  color: rgb(0, 0, 0);
}